.footer {
  background: lightgray;
  clear: both;
  float: left;
  width: 100%;
}

.btn-pagination {
  cursor: pointer;
  color: white;
  background: steelblue;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  margin: 10px;
}


.btn-pagination:disabled {
  opacity: 0.5;
  cursor:auto;
}

.episodes-wrapper {
  float: left;
  width: 80%;
}

aside {
  background: lightskyblue;
  float: left;
  width: 20%;
}